# Configuración de Base de Datos
DB_PASSWORD=control123

# Seguridad y Autenticación
JWT_SECRET=super_secret_jwt_key_alertas_en_linea_2026
JWT_REFRESH_SECRET=super_secret_refresh_jwt_key_alertas_en_linea_2026

# Configuración de CCTV / RTSP
# Para producción: rtsp://user:pass@camera-ip:port/stream
# Para desarrollo (simulado por ffmpeg): rtsp://ffmpeg:8554/live/stream
RTSP_URL=rtsp://ffmpeg:8554/live/stream
